<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventilators</title>
    <style>
        tr{
           width: 270px;
           height: 20px;
           

        }
        th{
            width: 270px;
            height: 25px;
            font-size: 20px;
        }
        td{
            width: 270px;
            height: 25px;
             padding-left: 15px;

        }
        table{
            
            margin-top: 70px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
            
        }
        p{
            color: red;
            margin-top: 20px;
            font-size: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        table,th,td,tr{
            border: 1px solid #ccc;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             }
        a{
            float: right;
            text-decoration: none;
            width: 70px;
            height: 25px;
           text-align: center;
           margin-top: -4em;
           padding-top: 5px;
            background-color: orangered;
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        h1{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             text-align: center;
            margin-top: 10px;

        }
        

    </style>
</head>
<body>
    <h1>
        List of Ventilators 
    </h1>
    <center>
        <div>
            <a  href="/">Home</a>
            </div>
        
        
        <% if(details!=null) { %>
        <table>
        <tr>
            <th>HOSPITAL ID</th>
            <th>HOSPITAL NAME</th>
            <th>VENTILATOR ID</th>
            <th>STATUS</th>
          
        </tr>
        <% details.forEach(function(item){ %>
        <tr>
            <td><%= item.HID%></td>
            <td><%= item.HOSPITAL%></td>
            <td><%= item.VID %></td>
            <td><%= item.STATUS%></td>
           
        
        </tr>
        <% }) %>
       
   
        </table>
        <% if (details.length==0){ %>
                
            <p><%= "No records found" %></p>
                   
           
        <% } %> 
    <% } %>
    </center>
</body>
</html>